{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static "css/login.css" %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">

<body>
   <main>
        <header class ="loginTitle">
            <h1><strong>LOGIN</strong></h1>
        </header>

        <form method="POST" class="loginForms" >
            
            {% csrf_token %}
            
            <div class ="email">
                <h3 class ="fieldEmail">Email  </h3>
                {{form.email}}
            </div>

            <div class ="password">
                <h3 class ="fieldPassword">Password</h3>
                {{form.password}}
            </div>
            
            <button class="submit" type = "input">Login</button><br>
            
            <div class="links">
                <a href="Password_recuperation" class = "passwordRecover">Forgot Password?</a>
                <a href={% url "signIn" %} class="registerLink" style ="color:RGB(255,255,255)">Register for free</a>
            </div>
    
        <p class="Lwf_text">Log with</p>

            <div class="logGoogle">
                <a href="linkApiG">
                    <button class="submitG">
                        <img src="" id="googleIMG" alt="google_logo">
                    </button>
                </a>
            </div>

            <div class="logMicrosoft">
                <a href="linkApiM">
                    <button class="submitM">
                        <img src="" id="microsftIMG" alt="microsoftLogo">
                    </button>
                </a>
            </div>
        </form>
   </main>
</body>
</html>