<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class ="PageNav">
        <a href={% url "home" %}>HOME</a>
        <a href={% url "booking" %}>BOOKINGS</a>
        <a href={% url "menu" %}>MENU</a>
        <a href={% url "signIn" %}>Sign In</a>
        <a href={% url "login" %}>Login</a>
        <a href={% url "settings" %}>Settings</a>
    </nav>

    <main>
        {% block Validacion %}
            {% if is_valid == False %}
                <form method="POST" class="loginForms" >
                    {% csrf_token %}
                    <div class ="email">
                        <h3 class ="fieldEmail">Email  </h3>
                        {{form_auth.email}}
                    </div>
        
                    <div class ="password">
                        <h3 class ="fieldPassword">Password</h3>
                        {{form_auth.password}}
                    </div>
                    <button class="submit" type = "input">Join</button><br>
                <form/>
            {% endif %}
        {% endblock Validacion %}
        
        {% block ChangeEmail %}
            {% if is_valid == True %}
                <form method="POST" class="loginForms" >
                    {% csrf_token %}
                    <div class ="email">
                        <h3 class ="fieldEmail">Email  </h3>
                        {{form_EmailChange.email}}
                    </div>
        
                    <div class ="password">
                        <h3 class ="fieldPassword">Email confirmation</h3>
                        {{form_EmailChange.email_confirmation}}
                    </div>
                    <button class="submit" type = "input">Join</button><br>
                <form/>
            {% endif %}
        {% endblock ChangeEmail %}
    </main>
</body>
</html>