<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class ="PageNav">
        <a href={% url "home" %}>HOME</a>
        <a href={% url "booking" %}>BOOKINGS</a>
        <a href={% url "menu" %}>MENU</a>
        <a href={% url "settings" %}>Settings</a>
        <a href={% url "logout" %}>LOGOUT</a>
    </nav>
    <main>
        <h1>Welcome {{user.firsName}} {{user.lastName}}</h1>
        
        <h3>Change password</h3>
        <form method ="POST" name="change_password">
            {% csrf_token %}
            <input type="hidden" name="change_password" value="True"> <!-- Agregamos este campo hidden -->
            <input name="actual_pass" type="password" placeholder="Actual password">
            <input name="new_pass" type="password" placeholder="New password">
            <input name="confirm_pass" type="password" placeholder="Confirm new password">
            <button class="submit" type="submit">SUBMIT</button>
        </form>

        <h3>Change email</h3>
            <form method ="POST" name="change_email">
                {% csrf_token %}
                <input type="hidden" name="change_email" value="True">
                <input name ="new_email" type="email" placeholder="New email">
                <button class="submit" type="submit">SUBMIT</button>
            </form>
    </main>
</body>
</html>