body{
    margin: 0%;
    background-color: #C5AE96;
    height: 110vh;
}

.PageNav{
    background-color: #6E5B48;
    margin: 0%;
    padding: 2%;
    margin-bottom: 4%;
}

.drinks, .food, .degustation{
    position: relative;
    display: inline-block;
    width: fit-content;
    height: fit-content;
    margin-left: 14%;
}

.drinksImage, .foodImage, .degustationImage{
    height: 80vh;
    width: 15vw;
    object-fit: cover;
    border-radius: 2vh;

    box-shadow: 1vw 1vh 1vh #000000;
}

.drinks_h2, .food_h2, .degustation_h2{
    margin: 0%;
    position: absolute;
    color: #ffffff;
    background-color: RGBA(0,0,0,0.5);
    writing-mode: vertical-rl;
    text-orientation: upright;
    border-radius: 2vh;

    font-size: 8vh;
    left: 35%;
    top: 8%;
}
