body{
    margin: 0%;
    background-color: #C5AE96;
    height: 100vh;
}

.PageNav{
    background-color: #6E5B48;
    margin: 0%;
    padding: 2%;
    margin-bottom: 4%;
}

.drinks, .food, .degustation{
    display: inline-block;
    width: fit-content;
    height: fit-content;
}

.drinksImage, .foodImage, .degustationImage{
    height: 70vh;
    width: 15vw;
    object-fit: cover;
    border-radius: 2vh;
    margin-left: 15vw;

    box-shadow: 1vw 1vh 1vh #000000;
}
.drinks_h2{
    color: #ffffff;
    writing-mode: vertical-rl;
    text-orientation: upright;

    font-size: 4rem;
}